//推荐使用class定义样式，且请以'组件名'作为前缀(避免与其他组件class产生冲突)
//It is recommended to use class to define the style, and please prefix with 'component name'(Avoid conflicts with other component class)

._BoxDropdown{
    --anchor-gap: var(--Theme-Gap-SM);
    background: var(--Theme-Color-Module);
    padding: var(--Theme-Gap-SM);
    border-radius: var(--Theme-Radius);
    box-shadow: var(--Theme-BoxShadow);
    transition-duration:var(--Theme-TransDuration);
    transition-property: opacity, transform;
    transition-timing-function: ease-out;
    &:focus{
        outline: none;
    }
    &[data-closed]{
        opacity: 0;
        transform: translateY(-1rem);
    }
}

._BoxDropdown-Item{
    border-radius: var(--Theme-Radius);
    padding:var(--Theme-Gap-SM) var(--Theme-Gap);
    cursor: pointer;
}
._BoxDropdown-Item:hover{
    color: var(--Theme-Color-Invert);
    background: var(--Theme-Color-ActiveHover);
}
