.WelcomeDrawing_Body{
    height: 100%;
    overflow: hidden;
}

.WelcomeDrawing_point{
    width: 4.0rem;
    height: 4.0rem;
    background-color: yellow;
    border-radius: 50%;
}

.WelcomeDrawing_text{
    transform:translateX(-50%);
    color: #fff;
    opacity: 0;
    width: 35.0rem;
    text-align: center;
}

.WelcomeDrawing_title{
    transform:translate(-50%, -50%);
    color: #fff;
    width: 35.0rem;
    text-align: center;
    display: none;
    transition: 1s;
    text-shadow: 0 0 1.0rem #ff006c, 0 0 2.0rem #ff006c, 0 0 3.0rem #ff006c, 0 0 4.0rem #ff417d, 0 0 7.0rem #ff417d, 0 0 8.0rem #ff417d, 0 0 10.0rem #ff417d, 0 0 15.0rem #ff417d;
}
.WelcomeDrawing_DrawingBody{
    height: 100%;
}

.WelcomeDrawing_Background{
    background-image: url(../img/background.png);
    opacity: 0;
    transition: 4s;
    background-position: center center;
    height: 100%;
    width: 100%;
    position:absolute;
    left: 0rem;
}
.ReplayButton_Body{
    height: 100%;
    overflow: hidden;
}

.ReplayButton_Button{
    width: 6.0rem;
    height: 6.5rem;
    background-color: #fff;
    font-size: 5.0rem;
    padding-left: .5rem !important;
    vertical-align: 0rem;
    border-radius: 1rem;
    opacity: 0.3;
    animation: 5s ReplayButton_Button_frames infinite; 
    cursor: pointer;
    overflow: hidden;
}

@keyframes ReplayButton_Button_frames {
    0% { opacity: 0.3 }
    50% { opacity: 0.8 }
    60% { opacity: 0.8 }
    100% { opacity: 0.3 }
}
.Page_body {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0rem !important;
    overflow: auto;
}

.Page_bottom{
    height: 7.0rem;
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
}

.Page_Padding0 {
    padding: 0rem !important;
}
