//推荐使用class定义样式，且请以'组件名'作为前缀(避免与其他组件class产生冲突)
//It is recommended to use class to define the style, and please prefix with 'component name'(Avoid conflicts with other component class)

._CompRadio-Body{
    width: 100%;
    display: grid;
    row-gap: var(--Theme-Gap-XS);
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

._CompRadio-Item{
    display: flex;
    align-items: center;
    gap: var(--Theme-Gap-SM);
}

._CompRadio-Item-Radio{
    display: flex;
    width: var(--Theme-Text-LG);
    height: var(--Theme-Text-LG);
    align-items: center;
    justify-content: center;
    border-radius: calc(infinity * 1px);
    border: 0.1rem solid var(--Theme-Color-Divider);
    background: var(--Theme-Color-Module);
    transition-property: color, background-color, border-color, border, text-decoration-color, fill, stroke;
    transition-duration: var(--Theme-TransDuration);
    &[data-checked]{
        background: var(--Theme-Color-Active);
        border-color: var(--Theme-Color-Active);
        color:var(--Theme-Color-Active);
    }
}

._CompRadio-Item-Radio-Span{
    visibility: hidden;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: calc(infinity * 1px);
    background: var(--Theme-Color-Module);
    .group[data-checked] & {
        visibility: visible;
    }
}