######DEFAULT######
{
    "version":"1.0=@@date@@",
    "publish":"@@date@@",
    "file":[
        "@@file@@",
        "@@load@@"
    ],
    "skip":[
        "Custom.scss",
        "Once.Config"
    ]
}
######DEFAULT######