//推荐使用class定义样式，且请以'组件名'作为前缀(避免与其他组件class产生冲突)
//It is recommended to use class to define the style, and please prefix with 'component name'(Avoid conflicts with other component class)

._FunLoad-Body{
    position: relative;
    overflow-y: hidden;
}

._FunLoad-Child{
    transition-duration: var(--Theme-TransDuration);
    transition-property: opacity;
}

._FunLoad-Load{
    display: flex;
    flex-direction: column;
    row-gap: var(--Theme-Gap);
    position: absolute;
    inset: 0;
    @apply animate-pulse;
}

._FunLoad-Load-Item{
    width: 100%;
    height: var(--Theme-Text);
    border-radius: calc(infinity * 1px);
    background: var(--Theme-Color-Widges);
}