//推荐使用class定义样式，且请以'组件名'作为前缀(避免与其他组件class产生冲突)
//It is recommended to use class to define the style, and please prefix with 'component name'(Avoid conflicts with other component class)

._BoxCollapse{
    background: var(--Theme-Color-Module);
}

._BoxCollapse-Button{
    cursor: pointer;
}

._BoxCollapse-Panel{
    transition: opacity var(--Theme-TransDuration) ease-in-out;

    &[data-closed] {
        overflow: hidden;
        opacity: 0;
    }
}