//推荐使用class定义样式，且请以'组件名'作为前缀(避免与其他组件class产生冲突)
//It is recommended to use class to define the style, and please prefix with 'component name'(Avoid conflicts with other component class)

._PackForm-Body {
    display: flex;
    flex-direction: column;
    row-gap: var(--Theme-Gap)
}

._PackForm-Field {
    display: flex;
    flex-direction: column;
    row-gap: var(--Theme-Gap-XS);
}

._PackForm-Label {
    color: var(--Theme-Color-Text);
}

._PackForm-Desc {
    color: var(--Theme-Color-Text-SM);
    font-size: var(--Theme-Text-SM);
}

._PackForm-Error {
    color: var(--Theme-Color-Error);
    font-size: var(--Theme-Text-SM);
    text-align: right;
    html[dir="rtl"] &{
      text-align: left;
    }
}