.Page_body {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0rem !important;
    overflow: auto;
}

.Page_bottom{
    height: 7.0rem;
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
}

.Page_Padding0 {
    padding: 0rem !important;
}
