//推荐使用class定义样式，且请以'组件名'作为前缀(避免与其他组件class产生冲突)
//It is recommended to use class to define the style, and please prefix with 'component name'(Avoid conflicts with other component class)

._CompInput{
    width: 100%;
    outline-width: 2px;
    outline-offset: -2px;
    outline-color: transparent;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: ease-in-out;
    transition-duration: var(--Theme-TransDuration);
    padding: var(--Theme-Gap-XS) var(--Theme-Gap-SM);
    border: 0.1rem solid var(--Theme-Color-Divider);
    border-radius: var(--Theme-Radius-SM);
    background: var(--Theme-Color-Module);
    &:focus{
        outline: 2px solid transparent;
        outline-offset: 2px;
    }
    &[data-focus]{
        outline-width: 2px;
        outline-offset: -2px;
        outline-color: var(--Theme-Color-Active);
        border-color: var(--Theme-Color-Active);
    }
}