//TIPS::Dark theme
html[trick-theme="dark"] {
    --Theme-Color-Text: #ffffff;
    --Theme-Color-Text-SM: #9da5ad;
    --Theme-Color-Text-XS: #999999;

    --Theme-Color-Body: #1e1e1e;
    --Theme-Color-Module: #2b3035;
    --Theme-Color-Widges: #4b5055;
    --Theme-Color-Disable: #3b4045;
    --Theme-Color-Divider: #697077;
    --Theme-Color-Error: #f4f484;;
    --Theme-Color-Invert: #ffffff;
    --Theme-Color-Active: #6a56ea;
    --Theme-Color-ActiveHover: #7a76ea;

    --Theme-BoxShadow:0rem 0rem 2.0rem 0.1rem rgb(0 0 0 / 13%);

    --Theme-Scroll-Thumb-Color: #3b4045;
    --Theme-Scroll-ThumbHover-Color: #4d5156;
}

//TIPS::When phone screen
@media only screen and (max-width: 768px) {
    :root {
        --Theme-Gap-XS: 0.15rem !important;
        --Theme-Gap: 0.75rem !important;
        --Theme-Gap-SM: 0.375rem !important;
        --Theme-Gap-LG: 1.5rem !important;
    }
}

