//推荐使用class定义样式，且请以'组件名'作为前缀(避免与其他组件class产生冲突)
//It is recommended to use class to define the style, and please prefix with 'component name'(Avoid conflicts with other component class)

._CompCheckbox-Body{
    display: flex;
    align-items: center;
    gap: var(--Theme-Gap-SM);
}

._CompCheckbox-Box{
    width: var(--Theme-Text-LG);
    height: var(--Theme-Text-LG);
    border: 0.1rem solid var(--Theme-Color-Divider);
    border-radius: var(--Theme-Radius-SM);
    background: var(--Theme-Color-Module);
    transition-duration: var(--Theme-TransDuration);
    &[data-checked]{
        background: var(--Theme-Color-Active);
        border-color: var(--Theme-Color-Active);
    }
}

._CompCheckbox-Icon{
    width: var(--Theme-Text);
    height: var(--Theme-Text);
    fill: var(--Theme-Color-Invert);
    opacity:0;
    stroke-width: 2;
    transition: opacity var(--Theme-TransitionDuration) ease-in;
    .group[data-checked] & {
        opacity: 1;
    }
}

._CompCheckbox-Label{}