//推荐使用class定义样式，且请以'组件名'作为前缀(避免与其他组件class产生冲突)
//It is recommended to use class to define the style, and please prefix with 'component name'(Avoid conflicts with other component class)

._CompSelect-Body{
    @apply w-full;
}

._CompSelect-Button{
    @apply w-full;
    @apply outline-2 -outline-offset-2 outline-transparent;
    @apply transition-colors ease-in-out data-[open]:outline-2 data-[open]:-outline-offset-2;
    @apply data-[open]:outline-[color:--Theme-Color-Active] data-[open]:border-[color:--Theme-Color-Active];
    @apply flex flex-row items-center flex-nowrap text-left rtl:text-right;
    padding: var(--Theme-Gap-XS) var(--Theme-Gap-SM);
    border: 0.1rem solid var(--Theme-Color-Divider);
    border-radius: var(--Theme-Radius-SM);
    background: var(--Theme-Color-Module);
    transition-duration: var(--Theme-TransDuration);
    background: var(--Theme-Color-Module);
}

._CompSelect-Button-Text {
    @apply grow text-ellipsis whitespace-nowrap overflow-hidden;
}

._CompSelect-Button-Text[data-isselected="false"] {
    @apply text-[--Theme-Color-Text-XS];
}

._CompSelect-Button-Icon{
    @apply grow-0 shrink-0 pointer-events-none size-[--Theme-Text-LG] fill-[color:--Theme-Color-Text];
    @apply group-data-[open]:rotate-180 duration-[--Theme-TransDuration] group-data-[open]:fill-[color:--Theme-Color-Active];
}

._CompSelect-Option{
    @apply [--anchor-gap:--Theme-Gap-SM] min-w-[var(--button-width)] focus:outline-none;
    @apply transition ease-out data-[closed]:-translate-y-[--Theme-Gap-SM] data-[closed]:opacity-0;
    padding: var(--Theme-Gap-SM);
    box-shadow: var(--Theme-BoxShadow);
    border-radius: var(--Theme-Radius);
    background: var(--Theme-Color-Module);
}

._CompSelect-Option-Item{
    @apply cursor-pointer;
    @apply data-[focus]:bg-[--Theme-Color-ActiveHover] data-[focus]:text-[color:--Theme-Color-Invert];
    border-radius: var(--Theme-Radius);
    padding:var(--Theme-Gap-SM) var(--Theme-Gap);
}